/* auth.css */

/* Стиль для контейнера формы */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.auth-form-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стиль для заголовка формы */
.auth-form-title {
    text-align: center;
    margin-bottom: 20px;
}

/* Стиль для полей ввода */
.auth-form-input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    width: 100%;
}

/* Стиль для кнопки отправки */
.auth-form-button {
    width: 100%;
    padding: 12px;
    background-color: #4B006E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.auth-form-button:hover {
    background-color: #3e005c; /* Темнее при наведении */
}

/* Стиль для переключателя между формами входа и регистрации */
.auth-form-toggle-link {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    margin-top: 15px;
}

.auth-form-toggle-link:hover {
    text-decoration: underline;
}

/* Стиль для ошибки */
.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
}

/* Стиль для альтернативного входа */
.alternative-login {
    margin-top: 30px; /* Увеличиваем отступ сверху */
    text-align: center; /* Выравниваем по центру */
}

/* Иконки для альтернативного входа */
.social-icons {
    display: flex;
    justify-content: center; /* Выравниваем иконки по центру */
    gap: 20px; /* Расстояние между иконками */
    margin-top: 20px;
}

.social-icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Размер кнопки */
    height: 40px; /* Размер кнопки */
    border-radius: 50%; /* Круглая форма кнопки */
    padding: 0;
    font-size: 20px; /* Размер иконки */
    border: 2px solid transparent; /* Прозрачная граница */
    transition: all 0.3s; /* Плавный переход при наведении */
}

.social-icon-btn:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Легкий фон при наведении */
}

.social-icon-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); /* Тень для фокуса */
}
