/* Общие стили футера */
.footer {
    background-color: #1f1f1f; /* Темно-серый фон */
    color: #fff;
    padding: 60px 0;
    text-align: center;
    font-size: 14px;
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Стили для заголовков */
.footer-heading {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #f5a623;
}

/* Стили для текстов */
.footer-text {
    font-size: 1rem;
    margin: 5px 0;
    color: #ccc; /* Светло-серый текст */
}

/* Стили для списка ссылок */
.footer-links-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    margin: 5px 0;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #f5a623; /* Цвет ссылок при наведении */
}

/* Стили для иконок соцсетей */
.social-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-icon {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
    color: #f5a623; /* Цвет иконки при наведении */
    transform: scale(1.1); /* Легкий эффект увеличения при наведении */
}

/* Стили для нижней части футера */
.footer-bottom {
    margin-top: 30px;
    font-size: 0.875rem;
    color: #aaa;
    text-align: center;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        margin-top: 20px;
    }

    .footer-bottom {
        font-size: 0.75rem;
    }
}
